{% extends 'layout.html' %}

{% block modals %}
    <div class="modal fade" id="addGoal" tabindex="-1" role="dialog" aria-labelledby="addGoalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addGoalTitle">Create new goal</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
            <script>
                $( function() {
                    $("#datepicker").datepicker();
                });
            </script>
          <div class="modal-body">
              {% load crispy_forms_tags %}
              {% crispy create_goal_form %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="goal-buttons">Create goal</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmDelete">Delete goal?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body confirm-modal">
              <div class="row" style="text-align: center">
                  <div class="col" style="display: inline-block;">
                      <a class="btn btn-outline-danger long-button" role="button">Delete</a>
                  </div>
                  <div class="col" style="display: inline-block;">
                      <a class="btn btn-outline-primary long-button" id="goal-buttons" role="button" data-dismiss="modal">Cancel</a>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
{% endblock modals %}

{% block content %}
    <div class="jumbotron jum-container" id="goal-content">
        <div>
            <h1 id="goal-title">My goals</h1>
        </div>
        <div class="row goal-row">
            <div class="col goal-col" >
                <div>
                    <h2>Ongoing:</h2>
                </div>
                <div class="list-group feed-list-content" id="ongoing-goal-list">
                    {% for goal in goal_list %}
                        <a class="list-group-item list-group-item-action">{{ goal.goal_name }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="col goal-col">
                <div>
                    <h2>Completed:</h2>
                </div>
                <div class="list-group feed-list-content" id="completed-goal-list">
                    {% for goal in goal_list %}
                        <a class="list-group-item list-group-item-action">{{ goal.goal_name }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="col goal-end-col">
                <div class="row goal-button">
                    <h5>Next goal deadline:</h5>
                    <p>11/09/2001</p>
                </div>
                <div class="row goal-button">
                    <h5>Goals completed:</h5>
                    <p>21</p>
                </div>
                <div class="row goal-button">
                    <p class="lead">
                        <a class="btn btn-outline-primary btn-lg" id="new-goal-button" role="button" data-toggle="modal" data-target="#addGoal">
                            New goal
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card-spacer"></div>

    <div class="jumbotron jum-container" id="goal-detail-jum">
        <div class="goal-detail-row">
            <div>
                <h2>My Running goal</h2>
            </div>
            <div class="row goal-detail">
                <div class="col goal-detail-col">
                    <p>Exercise: Running</p>
                    <p>3 days and 5 hours left</p>
                </div>
                <div class="col goal-detail-col">
                    <p>1320m of 15000m covered</p>
                    <p>Exercised for 01:21:30 of target 05:00:00</p>
                </div>
                <div class="col delete-goal-col">
                    <p class="lead">
                        <a class="btn btn-outline-primary" id="delete-goal-button" role="button" data-toggle="modal" data-target="#confirmDelete">Delete goal</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

<script>
    if(!$('#ongoing-goal-list').contents().length <= 1){
        listItem = document.createElement('li');
        listItem.classList.add('list-group-item');
        listItem.innerHTML = 'Complete a goal and it will show up on this list';
        document.getElementById('ongoing-goal-list').appendChild(listItem);
    }
    if(!$('#completed-goal-list').contents().length <= 1){
        listItem = document.createElement('li');
        listItem.classList.add('list-group-item');
        listItem.innerHTML = 'Create a goal and it will show up on this list';
        document.getElementById('completed-goal-list').appendChild(listItem);
    }
</script>

{% endblock %}