{% extends 'layout.html' %}

{% block modals %}
    <div class="modal fade" id="create-group" tabindex="-1" role="dialog" aria-labelledby="create-group-title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Create new group</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
body
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="goal-buttons">Create group</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="join-group" tabindex="-1" role="dialog" aria-labelledby="join-group-title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Join existing group</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
body
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="goal-buttons">Join</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="leave-group" tabindex="-1" role="dialog" aria-labelledby="leave-group-title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Leave selected group?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
            <div class="modal-body confirm-modal">
              <div class="row modal-confirm-row">
                  <div class="col modal-confirm-button">
                      <a class="btn btn-outline-danger long-button" role="button">Leave means leave!</a>
                  </div>
                  <div class="col modal-confirm-button">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="share-group" tabindex="-1" role="dialog" aria-labelledby="share-group-title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Share selected group?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
body
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="goal-buttons">Share</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block content %}
<div class="jumbotron jum-container" id="group-jum">
    <div class="row mt-2">
        <h1>My Groups</h1>
    </div>
    <div class="row">
        <div class="col" >
            <div class="pre-scrollable">
                <ul class="list-group" id="group-feed-list">
                    {% for group in group_list %}
                        <a class="list-group-item list-group-item-action">{{ group.group_name }}</a>
                    {% endfor %}
                </ul>
            </div>
            <a class="btn btn-outline-primary" role="button" id="join-group-button" data-toggle="modal" data-target="#join-group">Join Group</a>
            <a class="btn btn-outline-primary" role="button" id="join-group-button" data-toggle="modal" data-target="#create-group">Create New Group</a>
        </div>
        <div class="col" >
            <h2>Group details</h2>
            <h6>Goals:</h6>
            <div class="pre-scrollable" id="group-goal-list">
                <ul class="list-group">
                    /* ongoing goals here */
                </ul>
            </div>
            <h6 id="members-heading">Members:</h6>
            <div class="pre-scrollable" id="group-member-list">
                <ul class="list-group">
                    /* completed goals here */
                </ul>
            </div>
        </div>
        <div class="col">
            <a class="btn btn-outline-primary" role="button" id="leave-group-button" data-toggle="modal" data-target="#leave-group">Leave Group</a>
            <a class="btn btn-outline-primary" role="button" id="share-group-button" data-toggle="modal" data-target="#share-group">Share Group</a>
        </div>
    </div>
</div>

<script>
    if(!$('#group-feed-list').contents().length <= 1){
        listItem = document.createElement('li');
        listItem.classList.add('list-group-item');
        listItem.innerHTML = 'Join or create a group and it will show up on this list';
        document.getElementById('group-feed-list').appendChild(listItem);
    }
</script>
{% endblock %}