{% extends 'layout.html' %}

{% block modals %}
    <div class="modal fade" id="add-meal" tabindex="-1" role="dialog" aria-labelledby="add-meal-title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Create new meal</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
body
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="goal-buttons">Create meal</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="add-food" tabindex="-1" role="dialog" aria-labelledby="add-food-title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Create new food</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
body
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="goal-buttons">Create food</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="add-drink" tabindex="-1" role="dialog" aria-labelledby="add-drink-title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Create new drink</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
body
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="goal-buttons">Create drink</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block content %}
<div class="jumbotron jum-container" id="nutrition-jum">
    <div class="row mt-2">
        <h1>Nutrition</h1>
    </div>
    <div class="row">
        <div class="col-4" id="meal-list-box">
            <h4 id="feed-title">Meal Feed</h4>
            <div class="list-group" id="feed-list">
                {% for meal in meal_list %}
                   <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ meal.meal_name }}</h5>
                            <small>{{ meal.date_time_added.date }}</small>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="col">
            <div class="nutrition-buttons">
                <a class="btn btn-outline-primary" role="button" id="log-meal-button" data-toggle="modal" data-target="#add-meal">Log Meal</a>
                <a class="btn btn-outline-primary" role="button" id="add-food-button" data-toggle="modal" data-target="#add-food">Add food</a>
                <a class="btn btn-outline-primary" role="button" id="add-drink-button" data-toggle="modal" data-target="#add-drink">Add drink</a>
            </div>
            <canvas class="calories-burnt-graph" id="chLine"></canvas>
            <div id="calories-eaten-info">
                <p id="calories-eaten-info-text">You have eaten ____ out of today's ____ kCal allowance</p>
            </div>
        </div>
    </div>
</div>

<script>
    if(!$('#feed-list').contents().length <= 1){
        listItem = document.createElement('li');
        listItem.classList.add('list-group-item');
        listItem.innerHTML = 'Log a meal and it will show up on this list';
        document.getElementById('feed-list').appendChild(listItem);
    }
</script>

<script>
var colors = ['#274c77','#28a745','#333333','#c3e6cb','#dc3545','#6c757d'];

/* large line chart */
var chLine = document.getElementById("chLine");
var chartData = {
  labels: ["S", "M", "T", "W", "T", "F", "S"],
  datasets: [{
    data: [234, 523, 483, 503, 324, 692, 423],
    backgroundColor: 'transparent',
    borderColor: colors[0],
    borderWidth: 4,
    pointBackgroundColor: colors[0]
  }]
};

if (chLine) {
  new Chart(chLine, {
  type: 'line',
  data: chartData,
  options: {
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: false
        }
      }]
    },
    legend: {
      display: false
    }
  }
  });
}
</script>
{% endblock %}