{% extends 'layout.html' %}

{% block modals %}
    <div class="modal fade" id="update-weight" tabindex="-1" role="dialog" aria-labelledby="update-weight-title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Enter new weight</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              {% load crispy_forms_tags %}
              {% crispy new_weight_form %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="goal-buttons">Update weight</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="update-email" tabindex="-1" role="dialog" aria-labelledby="update-email-title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Change your email</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              {% crispy new_email_form %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="goal-buttons">Update email</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="update-target-weight" tabindex="-1" role="dialog" aria-labelledby="update-target-weight-title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Set new target weight</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
body
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="goal-buttons">Update target</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="update-password" tabindex="-1" role="dialog" aria-labelledby="update-password-title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Change password</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              {% crispy new_password_form %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="goal-buttons">Change password</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="update-height" tabindex="-1" role="dialog" aria-labelledby="update-height-title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Enter new height</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              {% crispy new_height_form %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="goal-buttons">Update height</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block content %}
<div class="jumbotron jum-container" id="user-jum">
    <div class="row mt-2">
        <h1> Your profile </h1>
    </div>
    <div class="row">
        <div class="col">
            <h2>Details</h2>
            <p>Name: {{ logged_in_user.first_name }} {{ logged_in_user.last_name }} </p>
            <p>Username: {{ logged_in_user.username }}</p>
            <p>Age: {{ logged_in_user.profile.age }} </p>
            <p>Gender: {{ logged_in_user.profile.gender }} </p>
            <p>Email: {{ logged_in_user.email }}</p>
            <div class="detail-buttons">
                <a class="btn btn-outline-primary" role="button" id="update-email-button" data-toggle="modal" data-target="#update-email">Update Email</a>
                <a class="btn btn-outline-primary" role="button" id="change-password-button" data-toggle="modal" data-target="#update-password">Change Password</a>
            </div>
        </div>
        <div class="col" id="bmi-column">
            <p>Current weight (kg): {{ logged_in_user.profile.weight_kg }}</p>
            <p>Current height (m): {{ logged_in_user.profile.height_m }}</p>
            <p>BMI: {{ logged_in_user.profile.bmi | floatformat:1 }} </p>
            {% if logged_in_user.profile.bmi < 18.5 %}
                <p>BMI class: Underweight! </p>
                {% elif logged_in_user.profile.bmi < 24.9 %}
                <p>BMI class: Normal Weight </p>
                {% elif logged_in_user.profile.bmi < 29.9 %}
                <p>BMI class: Overweight </p>
                {% elif logged_in_user.profile.bmi < 34.9 %}
                <p>BMI class: Obesity Class-1 </p>
                {% elif logged_in_user.profile.bmi < 39.9 %}
                <p>BMI class: Obesity Class-2 </p>
                {% else %}
                <p>BMI class: Obesity Class-3 </p>
            {% endif %}
            <div class="bmi-buttons">
                <a class="btn btn-outline-primary" role="button" id="update-weight-button" data-toggle="modal" data-target="#update-weight">Update Weight</a>
                <a class="btn btn-outline-primary" role="button" id="update-height-button" data-toggle="modal" data-target="#update-height">Update Height</a>
            </div>
        </div>
        <div class="col">
            <h2>Weight</h2>
            <p>Target weight: _____</p>
            <a class="btn btn-outline-primary" role="button" id="update-target-button" data-toggle="modal" data-target="#update-target-weight">Update Target</a>
            <canvas class="weights-graph" id="chLine"></canvas>
        </div>
    </div>
</div>

<script>
var colors = ['#274c77','#28a745','#333333','#c3e6cb','#dc3545','#6c757d'];

/* large line chart */
var chLine = document.getElementById("chLine");
var chartData = {
  labels: ["S", "M", "T", "W", "T", "F", "S"],
  datasets: [{
    data: [589, 445, 483, 503, 689, 692, 634],
    backgroundColor: 'transparent',
    borderColor: colors[0],
    borderWidth: 4,
    pointBackgroundColor: colors[0]
  }]
};

if (chLine) {
  new Chart(chLine, {
  type: 'line',
  data: chartData,
  options: {
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: false
        }
      }]
    },
    legend: {
      display: false
    }
  }
  });
}
</script>
{% endblock %}