/* palette:
 * --------------
 * #74a4bc - Light blue
 * #b6d6cc- Turquoise green
 * #f1fec6 - Pastel yellow
 * #274c77 - Dark blue
 * #6096ba - Medium blue
 */

.asteriskField {
    display: none;
}

.navbar-custom {
    /* background colour */
    background-color: #6096ba;
}

.navbar {

}

#body-tag{
    height: 100vh;
}

.container-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index:-1;
    background-image: url("../img/intro-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.content {
    padding: 2em;
}

.btn-outline-primary {
    color: #fff; !important;
    border-color: #274c77; !important;
}


.btn-outline-primary:hover {
    color: #fff; !important;
    background-color: #274c77; !important;
    border-color: #274c77; !important;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(39, 76, 119, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #274c77; !important;
    background-color: transparent;
}

btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #274c77; !important;
    border-color: #274c77; !important;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(39, 76, 119, 0.5);
}

/*User page css*/

#user-jum{
    width: 100%;
    padding-top: 0.1em;
}

.detail-buttons{
    padding-top: 2.5em;
}

#update-email-button{
    position: absolute;
    bottom: 0;
}

#update-email-button:hover{
    color: white;
}

.modal-confirm-button {
    display: inline-block;
}

.modal-confirm-row {
    text-align: center;
}

#logout-button:hover{
    color: white;
}

#change-password-button{
    position: absolute;
    bottom: 0;
    left: 8.8em;
}

#change-password-button:hover{
    color: white;
}

#bmi-column{
    padding-top: 4em;
}

.bmi-buttons{

}

#update-weight-button{
    position: absolute;
    bottom: 0;
}

#update-weight-button:hover{
    color: white;
}

#update-height-button{
    position: absolute;
    bottom: 0;
    left: 9.4em;
}

#update-height-button:hover{
    color: white;
}

#update-target-button{
    position: absolute;
    right: 6%;
    top: 13%;
}

#update-target-button:hover{
    color: white;
}

.weights-graph{
    width: 98%;
}

/*Exercise and Nutrition page CSS here*/

#nutrition-jum{
    width: 100%;
    padding-top: 0.1em;
}

#exercise-jum{
    width: 100%;
    padding-top: 0.1em;
}

#exercise-list-box{
    height: 33.6em;
}

#meal-list-box{
    height: 33.6em;
}

#feed-title{
    margin-bottom: 0.6em;
    padding-left: 0.3em;
    padding-top: 0.5em;
}

#feed-list{
    max-height: 30em;
    overflow-y: scroll;
}

#today-feed-list{
    max-height: 33.5em;
    width: 100%;
    margin-bottom: 0.5em;
    overflow-y: scroll;
}

#today-feed-info-links{
    position: absolute;
    bottom: 2%;
}

.nutrition-buttons{
    position: absolute;
    top: 0.5em;
    left: 45%;
}

#log-meal-button{
    font-size: 19px;
    width: 6em;
    padding: 0.3em 0.7em 0.3em 0.7em;
}

#log-meal-button:hover{
    color: white;
    width: 6em;
    padding: 0.3em 0.7em 0.3em 0.7em;
}

#add-food-button{
    font-size: 19px;
    width: 6em;
    padding: 0.3em 0.7em 0.3em 0.7em;
}

#add-food-button:hover{
    color: white;
}

#add-drink-button{
    font-size: 19px;
    width: 6em;
    padding: 0.3em 0.7em 0.3em 0.7em;
}

#add-drink-button:hover{
    color: white;
}

.calories-burnt-graph{
    position: absolute;
    bottom: 7.8em;
    width: 98%;
}

#log-exercise-button{
    position: absolute;
    right: 3%;
    font-size: 19px;
}

#log-exercise-button:hover{
    color: white;
}

.exercise-month-graph{
    position: absolute;
    bottom: 7.8em;
    width: 98%;
}

.exercise-info{
    font-size: 17px;
    position: absolute;
    bottom: 0;
}

#duration-distance-col{
    left: 22em;
}

#calories-eaten-info{
    position: absolute;
    bottom: 0;
    left: 6%;
}

#calories-eaten-info-text{
    font-size: 25px;
}

.progress-home {
    width: 10em;
    height: 10em;
    line-height: 10em;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.progress-home:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 7px solid #eee;
    position: absolute;
    top: 0;
    left: 0;
}
.progress-home > span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress-home .progress-left {
    left: 0;
}
.progress-home .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 5px;
    border-style: solid;
    position: absolute;
    top: 0;
    border-color: #274c77;
}
.progress-home .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 7em;
    border-bottom-right-radius: 7em;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress-home .progress-right {
    right: 0;
}
.progress-home .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 7em;
    border-bottom-left-radius: 7em;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
}
.progress-home .progress-value {
    display: flex;
    border-radius: 50%;
    font-size: 1.5em;
    text-align: center;
    line-height: 1em;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-weight: 300;
}
.progress-home .progress-value div {
    margin-top: 0;
    margin-left: 1.3em;
    margin-right: 0.5em;
}
.progress-home .progress-value span {
    font-size: 1em;
    text-transform: uppercase;
}
/* This for loop creates the 	necessary css animation names
 Due to the split circle of progress-left and progress right, we must use the animations on each side.
 */
.progress-home[data-percentage="10"] .progress-right .progress-bar {
    animation: loading-1 1.5s linear forwards;
}
.progress-home[data-percentage="10"] .progress-left .progress-bar {
    animation: 0;
}
.progress-home[data-percentage="20"] .progress-right .progress-bar {
    animation: loading-2 1.5s linear forwards;
}
.progress-home[data-percentage="20"] .progress-left .progress-bar {
    animation: 0;
}
.progress-home[data-percentage="30"] .progress-right .progress-bar {
    animation: loading-3 1.5s linear forwards;
}
.progress-home[data-percentage="30"] .progress-left .progress-bar {
    animation: 0;
}
.progress-home[data-percentage="40"] .progress-right .progress-bar {
    animation: loading-4 1.5s linear forwards;
}
.progress-home[data-percentage="40"] .progress-left .progress-bar {
    animation: 0;
}
.progress-home[data-percentage="50"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}
.progress-home[data-percentage="50"] .progress-left .progress-bar {
    animation: 0;
}
.progress-home[data-percentage="60"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}
.progress-home[data-percentage="60"] .progress-left .progress-bar {
    animation: loading-1 1.5s linear forwards 1.5s;
}
.progress-home[data-percentage="70"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}
.progress-home[data-percentage="70"] .progress-left .progress-bar {
    animation: loading-2 1.5s linear forwards 1.5s;
}
.progress-home[data-percentage="80"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}
.progress-home[data-percentage="80"] .progress-left .progress-bar {
    animation: loading-3 1.5s linear forwards 1.5s;
}
.progress-home[data-percentage="90"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}
.progress-home[data-percentage="90"] .progress-left .progress-bar {
    animation: loading-4 1.5s linear forwards 1.5s;
}
.progress-home[data-percentage="100"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}
.progress-home[data-percentage="100"] .progress-left .progress-bar {
    animation: loading-5 1.5s linear forwards 1.5s;
}
@keyframes loading-1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(72deg);
        transform: rotate(72deg);
    }
}
@keyframes loading-3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(108deg);
        transform: rotate(108deg);
    }
}
@keyframes loading-4 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-5 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
.progress-home {
    margin-bottom: 1em;
}

/*Group page css*/

#group-jum{
    width: 100%;
    padding-top: 0.1em;
    padding-bottom: 1.5em;
}

#join-group-button{
    margin-top: 1em;
    font-size: 19px;
}

#join-group-button:hover{
    color: white;
}

#leave-group-button{
    margin-right: 1em;
    font-size: 19px;
}

#leave-group-button:hover{
    color: white;
}

#share-group-button{
    font-size: 19px;
}

#share-group-button:hover{
    color: white;
}

#group-goal-list{
    height: 6em;
}

#members-heading{
    margin-top: 1em;
}

#group-member-list{
    height: 6em;
}

/* marias css */

@media (min-width: 620px) {
    main {
        column-count: 2;
        column-gap: 20px;
    }

    section {
        break-inside: avoid;
    }
}

@media (min-width: 960px) {
    main {
        column-count: 3;
    }
}

h1{
    padding: 0.5em;
    color: #274c77;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px 0;
}

.title {
    font-size: 2.6em;
    text-align: center;
    color: white;
    margin-bottom: 20px
}

.figure-img {
    display: block;
    width: 100%;
    object: fit;
}

h2 {
    font-size: 1.4em;
    padding: 10px;
}

p {
    margin-bottom: 1em;
    padding: 0 10px;
}

.info-link {
    text-decoration: none;
    color: var(--green);
    padding: 0.2em;
    padding-bottom: 0.1em;
    padding-top: 0.5em;
    display: block;
}


section {
    border-top: 3px solid #274c77;
    border-radius: 3px;
    background-color: white;
    margin-bottom: 20px;
    overflow: hidden;
}

.section-img {
    display: block;
    padding: 10px;
    margin: 0 auto;
}

.big-title {
    padding: 0;
}

.big-title-title {
    color: white;
    background-color: var(--red);
    margin-bottom: 10px;
}

.profile {
    width: 80%;
    border-radius: 50%;
    margin-bottom: 10px;
}

@media (min-width: 620px) {
    .options-link {
        font-size: 1.4em;
    }
}

.button {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #274c77;
}

.button:hover {
    background-color: #274c77; /* Green */
    color: white;
}

.jum-container {
    max-width: 100%;
    width: 50%;
    min-width: 35em;
    margin: auto;
    padding: 1.5em;
    border: 2px solid#293d76;
}

#goal-content {
    max-height: 20%;
    width: 100%
}

.long-button {
    width: 100%
}

.big-logo {
    text-align: center;
    margin-top: -2.5em;
    margin-bottom: -2.5em;
}

.login-error {
    margin-top: -1em;
    margin-bottom: 1em
}

.login-footer {
    margin: -1.8em;
    margin-top: 0em;
    padding-bottom: 1.3em;
}

.goal-row {
    max-height: 10%;
    padding: 1em
}

.goal-col {
    max-width: 38%
}

.goal-end-col {
    max-width: 24%;
    text-align: center;
}

.goal-button {
    margin-top: 1em;
    padding-bottom: 0em;
    padding-top: 0.5em;
    margin-bottom: 0.5em;
    display: inline-block;
}

#goal-list{
    overflow-y: scroll;
    max-height: 18.4em;
}

#goal-detail-jum {
    width: 80%;
    padding: 1em;
}

.goal-detail {
    padding: 0em;
    text-align: center;
}

.goal-detail-col {
    display: inline-block;
    width: 45%;
}
.delete-goal-col {
    display: inline-block;
    width: 10%;
}

.goal-detail-row {
    min-height: 50%
}

#new-goal-button:hover{
    color: #fff; !important;
}

#delete-goal-button:hover{
    color: #fff; !important;
}

#goal-title {
    padding: 0em;
    margin: -0.1em 0em;
}

.card-spacer {
    height: 2em;
}

.home-title {
    background: rgba(255, 255, 255, 0.5);
    width: auto;
    height: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: -1em;
}

.home-main {
    padding: 0
}

.home-jum {
    margin-left: 0;
    margin-right: 0;
    padding: 0.1em 1em;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    width: 100%;
    height: 100%;
}

.home-title-header {
    padding: 0.3em 0.6em;
}

.home-screen-container {
    padding: 0;
    margin: 0
}

.home-main-row {
    height: 100%;
    width: 100%;
    margin: 0
}

.home-main-first-col {
    min-width: 55%;
    height: 100%
}

.home-col-first-row {
    height: 75%;
    width: 100%
}

.calorie-graph {
    width: 100%
}

.calories-burnt-week {
    margin: 0
}

.home-col-second-row {
    height: 25%
}

.home-row-first-col {
    margin: 0;
    padding: 0;
    margin-right: 2em
}

.today-feed-col {
    width: 30%;
    min-height: 100%;
    padding: 0
}

.confirm-modal {
    margin: 1em;
}